#------------------------------------------------------
# manage api_key of LLM that agents will use
#------------------------------------------------------
Zed:
  base_url: "https://api.deepseek.com"
  model: "deepseek-chat"
  api_key: "your api key"

Sara:
  base_url: "https://api.deepseek.com"
  model: "deepseek-chat"
  api_key: "your api key"

Graves:
  base_url: "https://api.deepseek.com"
  model: "deepseek-chat"
  api_key: "your api key"

Gangplank:
  base_url: "https://api.deepseek.com"
  model: "deepseek-chat"
  api_key: "your api key"